/* Global */
:root {
  /* color */
  --color-bk: #000;
  --color-dg: #333;
  --color-g: #666;
  --color-lg: #e8e8e8;
  --color-wh: #fff;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --base-space: 8px;
  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;
  /* custom 프로퍼티 장점 : media 쿼리시 root만 수정해도 됨 */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-bk);
}
ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-bk);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-bk);
  margin: 16px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-bk);
  margin: 16px 0;
}
p {
  font-size: var(--font-small);
  color: var(--color-dg);
  margin: 16px 0;
}

/* navbar */
#navbar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: var(--color-wh);
}
.navbar__logo > a {
  color: var(--color-wh);
  font-size: var(--font-large);
  font-weight: var(--weight-light);
}
.navbar__menu {
  display: flex;
  justify-content: space-around;
}
.navbar__menu__items {
  cursor: pointer;
  font-weight: var(--weight-semi-bold);
  padding: 8px 12px;
  margin: 0 4px;
}
.navbar__menu__items.active {
  border-bottom: 3px solid #fff;
}
.navbar__menu__items:hover {
  color: darkcyan;
}

/* home */
#home {
  width: 100%;
  height: 600px;
  background: url(https://images.unsplash.com/photo-1661074578137-3321ae67ba62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2350&q=80)
    center/cover no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
